@charset "UTF-8";
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, input, select, textarea, td {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑" ，Arial; }

ul, ol {
  list-style: none; }

img {
  border: 0; }

a {
  text-decoration: none; }

.first-text {
  width: 100%;
  background: white;
  border: 1px solid #f4f4f5;
  margin: 36px 36px; }
  .first-text .first-title {
    border-bottom: 1px solid #f4f4f5;
    padding: 31px 0 31px 28px; }
    .first-text .first-title h4 {
      font-size: 20px;
      color: #455a64;
      font-weight: 200;
      line-height: 20px; }
    .first-text .first-title h6 {
      font-size: 16px;
      color: #99abb4;
      font-weight: 200;
      line-height: 16px;
      padding-top: 17px; }
  .first-text .first-cont {
    display: flex; }
    .first-text .first-cont .cont-left {
      width: 10%;
      padding: 26px 0 95px 28px; }
      .first-text .first-cont .cont-left ul {
        border-right: 1px solid #f4f4f5; }
        .first-text .first-cont .cont-left ul li {
          font-size: 16px;
          height: 48px;
          weight: 100%;
          line-height: 48px;
          margin-top: 11px;
          padding-left: 20px; }
          .first-text .first-cont .cont-left ul li:hover {
            background: #ffd600;
            color: white;
            border-radius: 6px; }
        .first-text .first-cont .cont-left ul .second-nav:hover {
          background: none;
          border-right: 4px solid #ffd600;
          color: #ffd600; }
    .first-text .first-cont .cont-right {
      width: 90%;
      margin-left: 32px;
      margin-right: 100px; }
      .first-text .first-cont .cont-right .cont-one {
        color: #3e5569;
        display: none; }
        .first-text .first-cont .cont-right .cont-one h3 {
          font-size: 21px;
          font-weight: 200;
          text-transform: inherit;
          line-height: 21px;
          padding-top: 80px; }
        .first-text .first-cont .cont-right .cont-one h4 {
          font-size: 18px;
          font-weight: 200;
          line-height: 18px;
          padding-top: 30px; }
        .first-text .first-cont .cont-right .cont-one p {
          font-size: 15px;
          line-height: 27px;
          padding-top: 16px; }
      .first-text .first-cont .cont-right .cont-two {
        color: #3e5569;
        display: none; }
        .first-text .first-cont .cont-right .cont-two h3 {
          font-size: 21px;
          font-weight: 200;
          text-transform: inherit;
          line-height: 21px;
          padding-top: 30px; }
        .first-text .first-cont .cont-right .cont-two h4 {
          font-size: 18px;
          font-weight: 200;
          line-height: 18px;
          padding-top: 80px; }
        .first-text .first-cont .cont-right .cont-two p {
          font-size: 15px;
          line-height: 27px;
          padding-top: 16px; }
      .first-text .first-cont .cont-right .cont-three {
        color: #3e5569; }
        .first-text .first-cont .cont-right .cont-three h3 {
          font-size: 21px;
          font-weight: 200;
          text-transform: inherit;
          line-height: 21px;
          padding-top: 80px; }
        .first-text .first-cont .cont-right .cont-three h4 {
          font-size: 18px;
          font-weight: 200;
          line-height: 18px;
          padding-top: 30px; }
        .first-text .first-cont .cont-right .cont-three p {
          font-size: 15px;
          line-height: 27px;
          padding-top: 16px; }

.three-text {
  width: 90%;
  background: white;
  border: 1px solid #f4f4f5;
  margin: 36px 36px; }
  .three-text .three-title {
    border-bottom: 1px solid #f4f4f5;
    padding: 31px 0 31px 28px; }
    .three-text .three-title h4 {
      font-size: 20px;
      color: #455a64;
      font-weight: 200;
      line-height: 20px; }
    .three-text .three-title h6 {
      font-size: 16px;
      color: #99abb4;
      font-weight: 200;
      line-height: 16px;
      padding-top: 17px; }
  .three-text .three-cont {
    width: 100%;
    padding: 27px 0; }
    .three-text .three-cont .three-nav {
      margin-left: 27px; }
      .three-text .three-cont .three-nav ul {
        display: flex; }
        .three-text .three-cont .three-nav ul li {
          padding: 20px 20px;
          margin-right: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
          .three-text .three-cont .three-nav ul li:hover {
            background: #ffd600; }
    .three-text .three-cont .three-body {
      border: 1px solid #f4f4f5;
      margin-left: 27px;
      margin-right: 27px; }
      .three-text .three-cont .three-body .three-min {
        display: none; }
        .three-text .three-cont .three-body .three-min p {
          font-size: 15px;
          line-height: 25px;
          margin: 20px 50px 38px 20px; }
      .three-text .three-cont .three-body .three-middle {
        display: none; }
        .three-text .three-cont .three-body .three-middle p {
          font-size: 15px;
          line-height: 25px;
          margin: 20px 50px 38px 20px; }
      .three-text .three-cont .three-body .three-max p {
        font-size: 15px;
        line-height: 25px;
        margin: 20px 50px 38px 20px; }

/*# sourceMappingURL=five.css.map */
